---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

const data = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
}

const getTags = (post: CollectionEntry<"blog">): string[] => (
  post.data.tags?.split(",").map((tag) => tag.trim()).filter(Boolean) ?? []
);

const tags = Array.from(
  new Set(data.flatMap((post) => getTags(post))),
).sort((a, b) => a.localeCompare(b));

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Blog
      </div>
      <div class="animate flex flex-wrap gap-2" id="blog-filters">
        <button data-tag="all" class="blog-filter rounded border border-black/15 dark:border-white/20 px-3 py-1.5 text-sm">
          All
        </button>
        {tags.map((tag) => (
          <button data-tag={tag} class="blog-filter rounded border border-black/15 dark:border-white/20 px-3 py-1.5 text-sm capitalize">
            {tag}
          </button>
        ))}
      </div>
      <div class="space-y-4">
        {years.map(year => (
          <section class="animate space-y-4 blog-year" data-year={year}>
            <div class="font-semibold text-black dark:text-white">
              {year}
            </div>
            <div>
              <ul class="flex flex-col gap-4">
                {
                  posts[year].map((post) => (
                    <li class="blog-item" data-tags={getTags(post).join(" ")}>
                      <ArrowCard entry={post} />
                    </li>
                  ))
                }
              </ul>
            </div>
          </section>
        ))}
      </div>
    </div>
  </Container>
</PageLayout>

<script>
  import { initBlogFilter } from "@scripts/blog-filter";

  initBlogFilter();
</script>
